<form action="">
    <div class="input-wrapper">
        <label for="">Name</label> <input type="text" />
    </div>
    <div class="input-wrapper">
        <label for="">Image</label> <input type="file" />
    </div>
    <div class="input-wrapper">
        <label for="">Price</label> <input type="text" />
    </div>
    <div class="input-wrapper">
        <label for="">Ratings out of 5</label> <input type="text" />
    </div>
    <div class="click-button">
        <app-button text='Add Product' class="mt-5"></app-button>
    </div>
</form>