.wrapper {
    width: 100%;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid gray;
}

.logo {
    width: 20%;
    object-fit: contain;
}